PORT=
JWT_SECRET=

DB_USERNAME=
DB_PASSWORD=
DATABASE=
MONGODB_URI=

REDIS_URL=
REDIS_USERNAME=
REDIS_PASSWORD=

GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY_PATH=

USER_UPLOADS_BUCKET=
MEDIA_BUCKET=
S3_REGION=
